<div class='carddetailPage'>
  <div class="container">
    <div class="cardContents">
      <div class="cardContents_title">
        <div>Title</div>
        <h2><%= @card.title %></h2>
      </div>
      <div class="cardContents_memo">
        <div>Comment</div>
        <div><%= @card.memo %></div>
      </div>
      <div class="cardContents_list">
        <div>List</div>
        <div><%= @card.list.title %></div>
      </div>
      <div class="cardContents_position">
        <div>Position</div>
        <div><%= @card.position %></div>
      </div>

      <div class="cardContents_btnArea">
        <%= link_to 'Edit', edit_list_card_path(@card.list, @card), class: "edit_btn" %>
        <%= link_to 'Remove', list_card_path(@card.list, @card), class: "text-danger delete_btn", method: :delete, data: { confirm: "Are you sure you want to remove this card?'" } %>
      </div>
    </div>
  </div>
</div>
