<div class="listeditPage">
  <div class="container">
    <%= form_with model: @list, url: {action: :update}, html: { class: 'listeditForm' }, local: true do |f| %>
      <% if @list.errors.any? %>
        <p class="text-danger">Title must be less than 255 characters.</p>
      <% end %>
      <div class="listeditForm_title">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control listName", placeholder: "Add a list..." %>
      </div>
      <div class="listeditForm_position">
        <%= f.label :position %>
        <%= select :list, :position, @positions.map{|p| [p.key, p.value] }, {selected: @list.position}, {class: 'form-control'} %>
      </div>
      <div class="text-center"><%= f.submit "Save", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>
